.App {
	text-align: center;
}

.profile {
	width: 400px;
}

.nature {
	height: 600px;
}

.carous {
	width: 90%;
	margin: 2% 5%;
}

.forms {
	width: 90%;
	margin: 2% 5%;
	border: 1px solid black;
	padding: 3%;
	border-radius: 10px;
	text-align: start;
}
